body {
        font-family:sans-serif;
        background:#dddddd;
    }
    a:link{
        color:#333333;
        text-decoration:none;
    }
    a:hover{
        color:#ffffff;
        text-decoration:underline;
    }
    img {
        height:15px;
        width:auto;
        margin-left:5px;
        margin-right:5px;
    }
